<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../public/styles.css">
</head>

<body>
    <div class="container">
        <h1 class="custom_login_form_title">Login</h1>
        <input type="text" id="username" class="custom_login_form_input" placeholder="Usuário">
        <input type="password" id="password" class="custom_login_form_input" placeholder="Senha">
        <button id="loginBtn" class="button button-primary">Entrar</button>
    </div>

    <script>



        document.addEventListener("DOMContentLoaded", async () => {

            for (let i = 0; i < localStorage.length; i++) {
                let key = localStorage.key(i);
                let value = localStorage.getItem(key);
                console.log(`${key}: ${value}`);
            }

            const user = localStorage.getItem("user");
            console.log("USER --> ",JSON.parse(user));
        })


        document.getElementById("loginBtn").addEventListener("click", async (event) => {

            event.preventDefault();

            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;
            
            try {
                const response = await fetch("http://localhost:7890/api/auth/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ username, password })
                });

                const data = await response.json();
                console.log('Data: ', data)

                if (response.ok) {

                    localStorage.setItem("accessToken", data.loginData.accessToken);
                    localStorage.setItem("user", JSON.stringify(data.loginData.user));

                    window.location.href = 'main.html'
                } else {

                    console.error("Erro no login:", response, data);
                    alert('Erro: ', data.message);
                }

            } catch (error) {

                console.error("Erro de login:", error);
            }
        });




    </script>
</body>

</html>