<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
        
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="custom_login_form_title">Login</h1>
        <input type="text" id="username" class="custom_login_form_input" placeholder="Usuário" >
        <input type="password" id="password" class="custom_login_form_input" placeholder="Senha" >
        <button id="loginBtn" class="button button-primary">Entrar</button>
    </div>

    <script>



document.getElementById('loginBtn').addEventListener('click', () => {

    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;

    window.api.send('login', { username, password });
  });


    </script>
</body>
</html>
